{% extends 'admin/master.html' %}

{% block body %}
    <div style="margin-bottom: 16px;">
        <a href="/">← Back to the website</a>
        <a style="float: right;" href="/logout">Logout</a>
    </div>

    <div>
        <p>
            <a class="btn btn-primary" href="/admin/user/new/">Add user</a>
        </p>
        <p>
            <a class="btn btn-primary" href="/admin/reset">Reset participating data</a>
        </p>
        <ul>
        {% for user in users %}
            {% if not user.participates %}
            <li>
                <a href="/admin/participant/{{ user.id }}">Add {{ user.displayName }} as participant</a>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
        <h3>Participants</h3>
        <ul>
        {% for user in users %}
            {% if user.participates %}
            <li>{{ user.displayName }} ({{ 'has drawn' if user.hasDrawn else 'has not drawn' }})</li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
{% endblock %}