<!DOCTYPE html>
<html lang="de" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <title>Wichteln</title>
</head>
<body class="h-100 bg-secondary">
    <div class="container h-100">
        <div class="row d-flex justify-content-center h-100">
            <div class="col-12 col-md-8 d-flex justify-content-center flex-column">
                <div class="bg-white d-flex align-items-center flex-column p-5 pt-3 position-relative rounded">
                    <div class="position-absolute d-flex justify-content-end w-100 pe-4">
                        <a href="/logout">Logout</a>
                    </div>
                    <h1 class="pb-3 pt-2">Wichteln</h1>
                    <p class="alert alert-success w-100">
                        Präferenzen wurden gespeichert!
                    </p>
                    <p class="py-2">Du hast <strong>{{person}}</strong> gezogen!</p>
                    <p class="w-100"><strong>{{person}}</strong> hat folgende Präferenzen angegeben:</p>
                    <textarea rows="7" cols="50" class="form-control" disabled>{{preferences}}</textarea>
                    {% if preferences == '' %}
                    <div class="alert alert-info mt-3 w-100">
                        Sollte das Feld leer sein, dann hat <strong>{{person}}</strong> noch keine Angaben gemacht.<br>
                        Guck einfach später nochmal rein.
                    </div>
                    {% endif %}
                    <a href="/" class="btn btn-primary mt-3">← Zurück</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>