<!DOCTYPE html>
<html lang="de" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <title>Wichteln</title>
</head>
<body class="h-100 bg-secondary">
    <div class="container h-100">
        <div class="row d-flex justify-content-center h-100">
            <div class="col-12 col-md-8 d-flex justify-content-center flex-column">
                <div class="bg-white d-flex align-items-center flex-column p-5 rounded">
                    <h1 class="pb-3">Registrieren</h1>
                    <form action="/register" method="post" autocomplete="off" class="d-flex flex-column w-100">
                        <label>Name</label>
                        <input type="text" name="name" class="form-control my-2" autofocus>
                        <label>Passwort</label>
                        <input type="password" name="password" class="form-control my-2">
                        <label>Passwort wiederholen</label>
                        <input type="password" name="repeatPassword" class="form-control my-2">
                        <input type="submit" value="Registrieren" class="btn btn-primary my-2">
                    </form>
                    {% for alert in  alerts: %}
                        <p class="alert alert-danger w-100 mt-3"><strong class="pe-1">{{alert[0]}}</strong>{{alert[1]}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
